
body{
    width: 100%;
    height: 100%;
    color: rgb(19, 21, 57);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
}
.nav{
    border-radius: 7px;
    overflow: hidden;
    top: 0px;
    position: fixed;
    box-shadow: 1px 1px 1px 1px rgb(241, 239, 239);
    width: 100%;
    background: #ffffff;
    z-index: 1;
}
.list-items dl{
    display: flex;
    position: absolute;
    left: 60%;

   
}
.list-items{
    display: flex;
    

}
.list-items h3{
    margin-left: 230px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.list-items dd{
    height: max-content;
    width: max-content;
    margin-left: 60px;
    cursor: pointer;
  
}
a{
    position: relative;
    color: rgb(19, 21, 57);
    text-decoration: none;
}
.nav a::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 4px;
    background-color: #4070f4;
    border-radius: 50px;
    width: 0;
    transition: width 0.4s ease-out;
}
.nav a:hover::before{
    width: 100%;

}
.main{
    display: flex;
    position: relative;
    top: 100px;
    left: 230px;
    font-size: 40px;
    line-height: 2.5rem;
}
.main-image{
    position: relative;
    left: 100px;
}
.main-content span{
    color: rgb(83, 132, 223);
}
.main-image img{

border-radius: 355px 355px 355px 355px;
position: relative;
left: 80px;
top: 80px;
}
.contact-me{
position: absolute;
top: 340px;
font-size: 30px;
width: 150px;
height: 50px;
background: rgb(109, 152, 233);
border: none;
border-radius: 5px;
}
.main-icons{
    display: flex;
    position: absolute;
    top: 510px;
    
}
.main-icons i{
    margin-right: 35px;
}
#about{
    position: relative;
    top: 355px;
}
.abouts {
    position: relative;
    top: 500px;
    left: 230px;
    margin-bottom: 720px;
}
.about-container{
    display: flex;
}
.abouts h3{
    position: relative;
    display: flex;
    justify-content: center;
    left: -115px;
    color: rgb(19, 21, 57);
    font-size: 25px;
    
}
.abouts img{
     height: 340px;
     border-radius: 10px;
}
.abouts p{
    position: relative;
    height: max-content;
    width: 450px;
    padding: 40px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(241, 239, 239);
    left: 190px;
    font-size: 20px;
}
.abouts span{
    font-weight: bold;
    color:black;
}
.project-cards{
    display: flex;
}
.card{
    
    margin: 50px;
    top: 50px;
}
.card img{
    height: 270px;
    width: 270px;
    border-radius: 10px;
    overflow: hidden;
}
.blureclass img:hover{
    filter: blur(2px);
}
.projects{
    position: relative;
    width: 1200px;
    left: 100px;
    bottom: 50px;


}
#project{
    position: relative;
    top: -150px;
}
.project-cards h3{
position: relative;
left: 50%;
color: rgb(19, 21, 57);
font-size: 25px;
}
/* .certificates{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: red;
}
.certificate{
    background-color: #4070f4;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    justify-content: center;
    position: relative;
    left: 200px;

} */
#certificate{
    position: relative;
    top: 210px;
}
.column {
    float: left;
    width: 25%;
    padding-left: 40px;
}
.row {
    margin-left: 160px;
    margin-top: 200px;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row h3{
    position: relative;
    top: 80px;
    left: 550px;
}
.card img{
    border: 0.5px solid rgb(197, 195, 195);
}
.contact{
    display: flex;
    justify-content: center;

    width: 500px;
    height: fit-content;
    position: relative;
    top: 300px;
    left: 550px;
    margin-bottom: 300px;
    font-size: 18px;
    font-family: Ge;
}
.contact h4{
    display: flex;
    justify-content: center;
}
.submit-btn {
 position: relative;
 left: 135px;
 bottom: 10px;
 border: none;
 background: #4070f4;
 border-radius: 5px;
 font-size: 20px;
}

.contact input{
    height: 30px;
    border:1px solid rgb(225, 220, 220);
    border-radius: 5px;

}
.contact textarea{
    border: 1px solid rgb(225, 220, 220);
    height: 80px;
    border-radius: 5px;

}

footer{
    display: flex;
    justify-content: center;
    position: relative;
    left: 50px;
}
/* .project-cards{
    background-color: transparent;
    height: 270px;
    width: 270px;
    perspective: 1000px;
} */
.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.overlay {
    position: absolute;
    bottom: -200px;
    left: 81px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background: rgba(79, 103, 178, 0.7);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    display: none;
}
.overlay i{
    font-size: small;
}
.card:hover .overlay {
    display:block;
}


.card-img, .card-para{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
.card-para {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}
.love{
    margin-right:5px ;
}

